# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environments
# =========================
Include/
Lib/
Scripts/
pyvenv.cfg

# =========================
# Configuración sensible
# =========================
utils/config.py
.env
.env.*

# =========================
# Data generada
# =========================
trend_per_month/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
